body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 39px;
}

.body_fixed {
    overflow: hidden;
}

b {
    font-weight: 700;
}

.non-selected-category-box {
    width: 100%;
    height: 39px;
}

.js-non-selected-category {
    font-size: 24px;
    color: red;
    
}

section {
    width: 1400px;
    padding: 67px 0 0 286px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}


h1 {
    margin-bottom: 41px;
}

.curency::after {
    content: ' руб.';
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 50px;

    /* margin: 0 auto ; */
}

.input-box-wraper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-value-box {
    width: 484px;
}

.select-box {
    width: 484px;
}

.js-selected-category {
    font-size: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 17px 9px 22px;
    border: 1px solid black;

}

.value-input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 17px 9px 22px;
    border: 1px solid black;

}

.js-input {
    outline: none;
    border: none;
    width: 100%;
    font-size: inherit;
}

.js-add-button {
    width: 370px;
    height: 58px;
    border: none;
    background-color: #0094FF;
    font-size: 32px;
    line-height: 58px;
    color: white;
}

.js-cancel-button {
    width: 484px;
    height: 58px;
    border: none;
    background-color: #FF0000;
    font-size: 32px;
    line-height: 58px;
    color: white;
}

.info-box {
    display: flex;
    gap: 28px;
}

.info-col {
    width: 484px;
}

.limit-box {
    display: flex;
    align-items:start;
}

.limit {
    margin-bottom: 20px;
}

.js-change-limit-btn {
    width: 42px;
    height: 42px;
    margin-left: 12px;
    cursor: pointer;
    background-size: contain;
    background-image: url('./limit-redaction.jpg');
}

.total {
    margin-bottom: 35px;
}

.history {
    margin-bottom: 20px;
}

.status {
    margin-bottom: 112px;
}

.status-green {
    color: green;
}

.status-red {
    color: red;
}

.change-limit-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 17px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: hidden;
    /* z-index: 200; */
}

.js-popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 150px;
    padding: 47px 0 0 57px;
    background-color: white;
    width: 991px;
    height: 525px;
}

.limit-control {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 28px
}

.Js-popup-set-limit-btn {
    padding: 10px 77px 9px 77px;
    background-color: #0094FF;
    color: white;
}

.js-change-limit-popup-close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 47px;
    right: 40px;
    background-image: url('./Vector.jpg');
    background-size: contain;
    cursor: pointer;
}

.popup_open {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s;
}